In [2]:
#file:///C:/Users/USER/AppData/Local/Temp/Temp1_Formats.zip/Formats/67972423.pdf

In [19]:
import pandas as pd
import camelot

In [20]:
file_name = r'C:/Users/USER/Desktop/pdfss/67972423.pdf'

In [28]:
data = camelot.read_pdf(file_name, pages = "1")
data

In [30]:
page1 = data[0].df
page1

,0,1,2
0,1,Organization,Hindustan Shipyard Limited
1,2,Department,Purchase Department
2,3,Tender Reference,MP/3400000333/20-21 dated 09 Oct 2020
3,4,Name of Material,PROCUREMENT 15T CRANE FOR VC- 11190-91
4,5,Type Of Quotation,Two cover system \nPart-I (Techno-commercial...
5,6,Type of Bidding Type,GLOBAL TENDER
6,7,Bid Validity,180 days
7,8,Pre-bid meeting date,1000hrs on 22 Oct 2020
8,9,Bid Submission end date,1100 hrs on 30 Oct 2020
9,10,Officer inviting bids,DGM (Purchase)
10,11,Bid opening authority,General Manager (Commercial)
11,12,Address,"Hindustan Shipyard Limited, Gandhigram, \nVisa..."
12,13,Contact details,D.L.Madhavi \nM (Purchase) \nMob. 9493792072 \...
13,14,Technical clarifications,Mr.Mithilesh \nDGM (OD) \nMob. 9493792251 \nEm...
14,15,Technical support on e-portal,M.M.G Basha Raja \nMob. 7799922008 \nEmail. ep...
15,16,Tender FEE(Non- Refundable),Rs.1770/- \na) \n(with GST) by way of demand d...

In [32]:
page1[1] == 'Type of Bidding Type'

0     False
1     False
2     False
3     False
4     False
5      True
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
Name: 1, dtype: bool

In [35]:
page1[1].str.contains('Type of Bidding Type').any() ==True

True

In [34]:
advertised_value = page1[page1[1].str.contains('Type of Bidding Type')]
advertised_value[2]

5    GLOBAL TENDER
Name: 2, dtype: object

In [36]:
advertised_value[2].to_string(index=True)

'5    GLOBAL TENDER'

In [22]:
for i in range(0,no_of_tables):
    
    try:
        
        datas = data[i].df
        
        if datas[1].str.contains('EMD Fee').any() == True:
            
            value = datas.loc[datas[1].str.contains('EMD Fee')]
            
            result = value[2].to_string(index=False)
            
            print(result)
            
    except Exception:
        
        print('false')

 a.Rs.1,00,000/-  by  way  of  demand  draft  i...
false

In [23]:
datas = data[1].df
datas

,0,1,2
0,,,http://www.hslvizag.in/hslpgi.aspx
1,17,Performance Bank Guarantee,Bank Guarantee for 10% of the contract value s...
2,18,EMD Fee,"a.Rs.1,00,000/- by way of demand draft i..."
3,,,b. Firms having valid HSL registration for Sim...
4,NOTE: Screen shot of tender fee and EMD fee su...,,

In [24]:
value = datas.loc[datas[1].str.contains('EMD Fee')]
value

    0        1                                                  2
2  18  EMD Fee  a.Rs.1,00,000/-  by  way  of  demand  draft  i...

In [25]:
print(value[2].to_string(index=False))

 a.Rs.1,00,000/-  by  way  of  demand  draft  i...

In [26]:
datas[1].str.contains('EMD Fee').any() == True

True